.popup__input {
  width: 358px;
  max-height: 27px;
  padding-bottom: 0.8125rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: normal;
}

@media screen and (max-width: 625px) {
  .popup__input {
    width: 238px;
  }

  .popup__input:last-of-type {
    margin-bottom: 2.8125rem;
  }
}
