.header__logo {
  width: 142px;
  margin-bottom: 2.5625rem;
  transition: all linear .2s;
}

.header__logo:hover {
  opacity: .6;
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 103.74px;
    margin-bottom: 1.975rem;
    margin-left: 1.6875rem;
  }
}
