.element__image {
  width: 282px;
  height: 282px;
  display: block;
  border-radius: 10px 10px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transition: all ease .3s;
  cursor: pointer;
}

.element__image:hover {
  opacity: .8;
}
