.elements__list {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 282px 17px 282px 17px 282px;
  grid-template-columns: repeat(3, 282px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  row-gap: 20px;
  -webkit-column-gap: 17px;
     -moz-column-gap: 17px;
          column-gap: 17px;
  justify-content: center;
}

@media screen and (max-width: 945px) {
  .elements__list {
    -ms-grid-columns: 282px 17px 282px;
    grid-template-columns: repeat(1, 282px);
  }
}
